// FONT-FAMILY VARIABLES
$primary-font: "Open Sans", sans-serif;
$secondary-font: "Archivo Narrow", sans-serif;

// FONT-SIZE VARIABLES
$font-36: 36px;
$font-34: 34px;
$font-18: 18px;
$font-12: 12px;

// COLOR VARIABLES
$primary-color: #463f3a;
$body-color: #e5e5e5;
$white-color: #ffffff;
$black-color: #262626;
$lightgrey-color: #f4f3ee;
$darkgrey-color: #8d8d8d;
$crimson-color: #c32c72;
